extends components/layout

block content 
    h1 I'm the user hehe

    // Para usar esta ruta lo haremos desde router :D
    // Una vez hecho si en tu localhost pones al final /user verás esto de aquí ^^
    // Con las herencias puedes tener un layout para no tener que poner el inicio cada 3x2 del html
    // así que con extends lo traes desde layout ^^