extends components/layout

block content 
    #pantallaCompleta
    
        #panelConversaciones 
            .elementoConversacionPanel 
                img.fotoElemento(src="../img/pfp1.jpg")
                .nombreElementoConversacionPanel 
                    h4.nombreElemento Sidaki
            
            .elementoConversacionPanel 
                img.fotoElemento(src="../img/pfp2.jpg")
                .nombreElementoConversacionPanel 
                    h4.nombreElemento Dia Rei 
            
            .elementoConversacionPanel 
                img.fotoElemento(src="../img/pfp3.jpg")
                .nombreElementoConversacionPanel 
                    h4.nombreElemento Gotik Qlona
        
        #ConversacionDetalle
            #CabeceraDetalle 
                #fotoCabecera
                    img.fotoElementoCabecera(src="../img/pfp3.jpg")
                #textoCabecera 
                    #nombreDetalle 
                        h4.nombreElemento Gotik Qlona 
                    #ultConexionDetalle 
                        p Ult. Conexión: Ayer 
            #TextoDetalle
                .fotoDetalle 
                    img.img_fotoDetalle(src="../img/gato.jpg")
                .parrafoDetalle 
                    p Holiwi soy el gato hecker deme sus datos 🫦
                
                br

                // LO DE FORMULARIOS SE VE MEJOR EN [FUNDAMENTOS - FORMULARIOS]
                // Incluido lo que pregunto jesus en clases esta alli :3

                .formulario
                    h2 Formulario hecker uwu
                    form(action="/procesar.php" method="post")
                        label(for="nombreUsuario") 
                            p Introduzca su nombre
                            p.form-ayuda Recuerde borrar el campo de ejemplo para introducir su nombre
                            br  
                        input(type="text" id="nombreUsuario" name="nombreUsuario" value="Ejemplo: Juan")
                            
                        input(type="password" id="contraseña" name="contraseña")
                        input(type="number" id="número" name="número")

                        input(type="submit" value="Enviar")
                        input(type="reset" value="Borrar formulario")
                        input(type="button" value="Otra accion")

            
    // Esta es mi firma :3
    footer.github-footer.fade-in-up(style="animation-delay: 0.5s;")
        a.footer__inner(href="https://github.com/sugusgamberra" target="_blank")
            img.github-pfp(src="https://avatars.githubusercontent.com/u/125316695?v=4", alt="Github PFP")
            span @sugusgamberra